In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'D:\\COLLEGE\\PROJECTS\\1IMP\\mortgage'

# Sample Data

In [3]:
df = pd.read_csv("local datasets/CSVs/sampleFannie.csv", sep = "|", low_memory = False, header = None)

In [4]:
df

,0,1,2,3,4,5,6,7,8,9,...,98,99,100,101,102,103,104,105,106,107
0,NaN,100023020488,82009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
1,NaN,100023020488,92009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
2,NaN,100023020488,102009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
3,NaN,100023020488,112009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
4,NaN,100023020488,122009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752,NaN,102458150755,22020,R,Other,Other,NaN,4.375,4.375,148000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
753,NaN,102458150755,32020,R,Other,Other,NaN,4.375,4.375,148000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
754,NaN,102458150755,42020,R,Other,Other,NaN,4.375,4.375,148000.0,...,NaN,NaN,NaN,7.0,N,NaN,NaN,7.0,NaN,NaN
755,NaN,102458150755,52020,R,Other,Other,NaN,4.375,4.375,148000.0,...,NaN,NaN,NaN,7.0,N,NaN,NaN,7.0,NaN,NaN
756,NaN,102458150755,62020,R,Other,Other,NaN,4.375,4.375,148000.0,...,NaN,NaN,NaN,7.0,N,NaN,NaN,7.0,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 757 entries, 0 to 756
Columns: 108 entries, 0 to 107
dtypes: float64(76), int64(13), object(19)
memory usage: 638.8+ KB

## Our drop list

In [6]:
dropList = []

# List of Nulls
for i in range(108):
    if df[i].isna().sum() == 757:
        dropList.append(i)
        
print(len(dropList))
print(dropList)

47
[0, 6, 10, 37, 38, 42, 46, 47, 49, 59, 60, 61, 64, 65, 66, 67, 68, 69, 70, 71, 74, 75, 76, 77, 78, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 103, 106, 107]

In [7]:
# Our drop features

dropList = dropList + [2, 14, 16, 20, 29, 31, 32, 33, 41, 43, 44, 45, 50, 51, 52, 54, 55, 56, 58, 62, 63, 72, 73, 80, 101, 104, 105]
print(len(dropList))
dropList.sort()
print(dropList)

74
[0, 2, 6, 10, 14, 16, 20, 29, 31, 32, 33, 37, 38, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 103, 104, 105, 106, 107]

In [8]:
for i in dropList:
    print(i+1, end = " ")

1 3 7 11 15 17 21 30 32 33 34 38 39 42 43 44 45 46 47 48 50 51 52 53 55 56 57 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 81 82 83 84 85 86 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 104 105 106 107 108

In [9]:
df_dropped = df.drop(dropList, axis = 1)

In [10]:
df.shape

(757, 108)

In [11]:
df_dropped.shape

(757, 34)

In [12]:
df[3][0], df_dropped[3][0]

('R', 'R')

In [13]:
# header = ['Loan Identifier', 'Channel', 'Seller Name', 'Servicer Name', 'Original Interest Rate', 'Current Interest Rate', 'Original UPB', 'Current Actual UPB', 'Original Loan Term', 'Origination Date', 'First Payment Date', 'Loan Age', 'Remaining Months to Legal Maturity', 'Remaining Months to Maturity', 'Maturity Date', 'Original Loan to Value Ratio (LTV)', 'Original Combined Loan to Value Ratio (CLTV)', 'Number of Borrowers', 'Debt-To-Income (DTI)', 'Borrower Credit Score at Origination', 'Co-Borrower Credit Score at Origination', 'First Time Home Buyer Indicator', 'Loan Purpose', 'Property Type', 'Number of Units', 'Property State', 'Amortization Type', 'Prepayment Penalty Indicator', 'Interest Only Loan Indicator', 'Current Loan Delinquency Status', 'Loan Payment History', 'Modification Flag', 'Zero Balance Code', 'Zero Balance Effective Date', 'UPB at the Time of Removal', 'Total Principal Current', 'Last Paid Installment Date', 'Foreclosure Costs', 'Property Preservation and Repair Costs', 'Asset Recovery Costs', 'Miscellaneous Holding Expenses and Credits', 'Associated Taxes for Holding Property', 'Net Sales Proceeds', 'Modification-Related Non-Interest Bearing UPB', 'Principal Forgiveness Amount', 'Mortgage Insurance Type', 'Servicing Activity Indicator', 'Foreclosure Principal Write-off Amount', 'Relocation Mortgage Indicator', 'High Balance Loan Indicator', 'Borrower Assitance Plan', 'High Loan to Value (HLTV) Refinance Option Indicator', 'Repurchase Make Whole Proceeds Flag', 'Alternative Delinquency Resolution']
header = ['Loan Identifier', 'Channel', 'Seller Name', 'Servicer Name', 'Original Interest Rate', 'Current Interest Rate', 'Original UPB', 'Current Actual UPB', 'Original Loan Term', 'Origination Date', 'Loan Age', 'Remaining Months To Maturity', 'Maturity Date', 'Original Loan to Value Ratio (LTV)', 'Number of Borrowers', 'Debt-To-Income (DTI)', 'Borrower Credit Score at Origination', 'Co-Borrower Credit Score at Origination', 'First Time Home Buyer Indicator', 'Loan Purpose', 'Property Type', 'Number of Units', 'Property State', 'Amortization Type', 'Prepayment Penalty Indicator', 'Interest Only Loan Indicator', 'Current Loan Delinquency Status', 'Loan Payment History', 'Total Principal Current', 'Foreclosure Costs', 'Associated Taxes for Holding Property', 'Foreclosure Principal Write-off Amount', 'High Balance Loan Indicator', 'High Loan to Value (HLTV) Refinance Option Indicator']

In [14]:
len(header)

34

In [15]:
for i, j in enumerate(header):
    print(i+1, ')', j)

1 ) Loan Identifier
2 ) Channel
3 ) Seller Name
4 ) Servicer Name
5 ) Original Interest Rate
6 ) Current Interest Rate
7 ) Original UPB
8 ) Current Actual UPB
9 ) Original Loan Term
10 ) Origination Date
11 ) Loan Age
12 ) Remaining Months To Maturity
13 ) Maturity Date
14 ) Original Loan to Value Ratio (LTV)
15 ) Number of Borrowers
16 ) Debt-To-Income (DTI)
17 ) Borrower Credit Score at Origination
18 ) Co-Borrower Credit Score at Origination
19 ) First Time Home Buyer Indicator
20 ) Loan Purpose
21 ) Property Type
22 ) Number of Units
23 ) Property State
24 ) Amortization Type
25 ) Prepayment Penalty Indicator
26 ) Interest Only Loan Indicator
27 ) Current Loan Delinquency Status
28 ) Loan Payment History
29 ) Total Principal Current
30 ) Foreclosure Costs
31 ) Associated Taxes for Holding Property
32 ) Foreclosure Principal Write-off Amount
33 ) High Balance Loan Indicator
34 ) High Loan to Value (HLTV) Refinance Option Indicator

In [16]:
df_dropped.columns = header

In [17]:
df_dropped

,Loan Identifier,Channel,Seller Name,Servicer Name,Original Interest Rate,Current Interest Rate,Original UPB,Current Actual UPB,Original Loan Term,Origination Date,...,Prepayment Penalty Indicator,Interest Only Loan Indicator,Current Loan Delinquency Status,Loan Payment History,Total Principal Current,Foreclosure Costs,Associated Taxes for Holding Property,Foreclosure Principal Write-off Amount,High Balance Loan Indicator,High Loan to Value (HLTV) Refinance Option Indicator
0,100023020488,R,Other,Other,5.375,5.375,55000.0,0.00,240,82009,...,N,N,00,NaN,NaN,NaN,NaN,NaN,N,N
1,100023020488,R,Other,Other,5.375,5.375,55000.0,0.00,240,82009,...,N,N,00,NaN,NaN,NaN,NaN,NaN,N,N
2,100023020488,R,Other,Other,5.375,5.375,55000.0,0.00,240,82009,...,N,N,00,NaN,NaN,NaN,NaN,NaN,N,N
3,100023020488,R,Other,Other,5.375,5.375,55000.0,0.00,240,82009,...,N,N,00,NaN,NaN,NaN,NaN,NaN,N,N
4,100023020488,R,Other,Other,5.375,5.375,55000.0,0.00,240,82009,...,N,N,00,NaN,NaN,NaN,NaN,NaN,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752,102458150755,R,Other,Other,4.375,4.375,148000.0,116188.83,360,72009,...,N,N,00,NaN,NaN,NaN,NaN,NaN,N,N
753,102458150755,R,Other,Other,4.375,4.375,148000.0,115873.50,360,72009,...,N,N,00,NaN,NaN,NaN,NaN,NaN,N,N
754,102458150755,R,Other,Other,4.375,4.375,148000.0,115557.02,360,72009,...,N,N,00,000000000000000000000000000000000000000000000000,NaN,NaN,NaN,NaN,N,N
755,102458150755,R,Other,Other,4.375,4.375,148000.0,115239.38,360,72009,...,N,N,00,000000000000000000000000000000000000000000000000,317.64,NaN,NaN,NaN,N,N
756,102458150755,R,Other,Other,4.375,4.375,148000.0,114920.58,360,72009,...,N,N,00,000000000000000000000000000000000000000000000000,318.80,NaN,NaN,NaN,N,N

In [16]:
# import pandas as pd
# df = pd.read_csv("C:/Users/abhay/Downloads/mortgage/datadata/dataset/sample.csv", sep = "|", low_memory = False, header = None)
# listOfNulls = []
# for i in range(108):
#     if df[i].isna().sum() == 757:
#         listOfNulls.append(i)
# df_dropped = df.drop(listOfNulls, axis = 1)
# header = ['Loan Identifier', 'Monthly Reporting Period', 'Channel', 'Seller Name', 'Servicer Name', 'Original Interest Rate', 'Current Interest Rate', 'Original UPB', 'Current Actual UPB', 'Original Loan Term', 'Origination Date', 'First Payment Date', 'Loan Age', 'Remaining Months to Legal Maturity', 'Remaining Months to Maturity', 'Maturity Date', 'Original Loan to Value Ratio (LTV)', 'Original Combined Loan to Value Ratio (CLTV)', 'Number of Borrowers', 'Debt-To-Income (DTI)', 'Borrower Credit Score at Origination', 'Co-Borrower Credit Score at Origination', 'First Time Home Buyer Indicator', 'Loan Purpose', 'Property Type', 'Number of Units', 'Occupancy Status', 'Property State', 'MSA', 'Zip Code Short', 'Mortgage Insurance Percentage', 'Amortization Type', 'Prepayment Penalty Indicator', 'Interest Only Loan Indicator', 'Current Loan Delinquency Status', 'Loan Payment History', 'Modification Flag', 'Zero Balance Code', 'Zero Balance Effective Date', 'UPB at the Time of Removal', 'Total Principal Current', 'Last Paid Installment Date', 'Foreclosure Date', 'Disposition Date', 'Foreclosure Costs', 'Property Preservation and Repair Costs', 'Asset Recovery Costs', 'Miscellaneous Holding Expenses and Credits', 'Associated Taxes for Holding Property', 'Net Sales Proceeds', 'Modification-Related Non-Interest Bearing UPB', 'Principal Forgiveness Amount', 'Mortgage Insurance Type', 'Servicing Activity Indicator', 'Foreclosure Principal Write-off Amount', 'Relocation Mortgage Indicator', 'High Balance Loan Indicator', 'Borrower Assitance Plan', 'High Loan to Value (HLTV) Refinance Option Indicator', 'Repurchase Make Whole Proceeds Flag', 'Alternative Delinquency Resolution']
# df_dropped.columns = header

In [18]:
imp = []
for i in range(108):
    if i not in dropList:
        imp.append(i)
print(len(imp))
print(imp)

34
[1, 3, 4, 5, 7, 8, 9, 11, 12, 13, 15, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 30, 34, 35, 36, 39, 40, 48, 53, 57, 79, 86, 102]

# Splitting Data

In [19]:
import shutil

In [20]:
sizeOfChunk = 1000000

# 2022

In [20]:
# for i in range(2, 3):
#     for qtr in range(1, 5):
#         num = 1
#         for ch in pd.read_csv(f"datasets/202{i}/202{i}Q{qtr}.csv", low_memory = False, sep = "|", header = None, usecols = imp, chunksize = sizeOfChunk):
#             dfPart = ch.copy()
#             dfPart.columns = header
#             dfPart.to_csv(f"datasets/202{i}/Q{qtr}/202{i}Q{qtr}_P{num}.csv", index = False)
#             num += 1

# Actual code to convert all

In [21]:
# for i in range(1, 3):
#     for qtr in range(1, 5):
#         num = 1
#         for ch in pd.read_csv(f"local datasets/202{i}/202{i}Q{qtr}.csv", low_memory = False, sep = "|", header = None, usecols = imp, chunksize = sizeOfChunk):
#             dfPart = ch.copy()
#             dfPart.columns = header
            
#             dfPart.to_csv(f"datasets/202{i}/Q{qtr}/202{i}Q{qtr}_P{num}.csv", index = False)
#             num += 1

# Test

In [33]:
# num = 1
# for ch in pd.read_csv("local datasets/CSVs/sampleFannie.csv", sep = "|", header = None, usecols = imp, chunksize = 10):
#     dfCopy = ch.copy()
#     dfCopy.columns = header
#     dfCopy.to_csv(f"local datasets/testing/P{num}.csv", index = False)
#     num += 1

In [37]:
# dfdf = pd.read_csv("local datasets/testing/P1.csv")
# dfdf = dfdf[dfdf["Current Actual UPB"] == 0.00]

In [39]:
# dfdf["Current Actual UPB"].dtype

dtype('float64')

In [40]:
# dfdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 34 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Loan Identifier                                       10 non-null     int64
 1   Channel                                               10 non-null     object
 2   Seller Name                                           10 non-null     object
 3   Servicer Name                                         10 non-null     object
 4   Original Interest Rate                                10 non-null     float64
 5   Current Interest Rate                                 10 non-null     float64
 6   Original UPB                                          10 non-null     float64
 7   Current Actual UPB                                    10 non-null     float64
 8   Original Loan Term                                    10 non-null     int64
 9   Origination Date                                      10 non-null     int64
 10  Loan Age                                              10 non-null     int64
 11  Remaining Months To Maturity                          10 non-null     int64
 12  Maturity Date                                         10 non-null     int64
 13  Original Loan to Value Ratio (LTV)                    10 non-null     int64
 14  Number of Borrowers                                   10 non-null     int64
 15  Debt-To-Income (DTI)                                  10 non-null     int64
 16  Borrower Credit Score at Origination                  10 non-null     int64
 17  Co-Borrower Credit Score at Origination               0 non-null      float64
 18  First Time Home Buyer Indicator                       10 non-null     object
 19  Loan Purpose                                          10 non-null     object
 20  Property Type                                         10 non-null     object
 21  Number of Units                                       10 non-null     int64
 22  Property State                                        10 non-null     object
 23  Amortization Type                                     10 non-null     object
 24  Prepayment Penalty Indicator                          10 non-null     object
 25  Interest Only Loan Indicator                          10 non-null     object
 26  Current Loan Delinquency Status                       10 non-null     int64
 27  Loan Payment History                                  0 non-null      float64
 28  Total Principal Current                               0 non-null      float64
 29  Foreclosure Costs                                     0 non-null      float64
 30  Associated Taxes for Holding Property                 0 non-null      float64
 31  Foreclosure Principal Write-off Amount                0 non-null      float64
 32  High Balance Loan Indicator                           10 non-null     object
 33  High Loan to Value (HLTV) Refinance Option Indicator  10 non-null     object
dtypes: float64(10), int64(12), object(12)
memory usage: 2.8+ KB

In [43]:
# dfdf1 = dfdf[(dfdf["Current Actual UPB"] == 0.00) 
#              & (dfdf['Property Type'] == 'SF') 
# #              & (dfdf['Amortization Type'] == 'FRM')]
# dfdf1

Empty DataFrame
Columns: [Loan Identifier, Channel, Seller Name, Servicer Name, Original Interest Rate, Current Interest Rate, Original UPB, Current Actual UPB, Original Loan Term, Origination Date, Loan Age, Remaining Months To Maturity, Maturity Date, Original Loan to Value Ratio (LTV), Number of Borrowers, Debt-To-Income (DTI), Borrower Credit Score at Origination, Co-Borrower Credit Score at Origination, First Time Home Buyer Indicator, Loan Purpose, Property Type, Number of Units, Property State, Amortization Type, Prepayment Penalty Indicator, Interest Only Loan Indicator, Current Loan Delinquency Status, Loan Payment History, Total Principal Current, Foreclosure Costs, Associated Taxes for Holding Property, Foreclosure Principal Write-off Amount, High Balance Loan Indicator, High Loan to Value (HLTV) Refinance Option Indicator]
Index: []

[0 rows x 34 columns]

In [21]:
# num = 1
# for ch in pd.read_csv(f"local datasets/CSVs/202{1}Q{1}.csv", low_memory = False, sep = "|", header = None, usecols = imp, chunksize = 1000):
#     dfPart = ch.copy()
#     dfPart.columns = header
# #     dfPart = dfPart[(dfPart["Current Actual UPB"] == 0.00)]
#     dfPart.to_csv(f"local datasets/202{1}/Q{1}/202{1}Q{1}_P{num}.csv", index = False)
#     num += 1
#     if num == 2:
#         break
# realchunk = pd.read_csv(f"local datasets/202{1}/Q{1}/202{1}Q{1}_P{1}.csv", low_memory = False)
# realchunk

,Loan Identifier,Channel,Seller Name,Servicer Name,Original Interest Rate,Current Interest Rate,Original UPB,Current Actual UPB,Original Loan Term,Origination Date,...,Prepayment Penalty Indicator,Interest Only Loan Indicator,Current Loan Delinquency Status,Loan Payment History,Total Principal Current,Foreclosure Costs,Associated Taxes for Holding Property,Foreclosure Principal Write-off Amount,High Balance Loan Indicator,High Loan to Value (HLTV) Refinance Option Indicator
0,122128311,R,"loanDepot.com, LLC","loanDepot.com, LLC",2.125,2.125,619000.0,616000.0,180,122020,...,N,N,0,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX00,NaN,NaN,NaN,NaN,Y,N
1,122128311,R,"loanDepot.com, LLC","loanDepot.com, LLC",2.125,2.125,619000.0,613000.0,180,122020,...,N,N,0,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX0000,2926.19,NaN,NaN,NaN,Y,N
2,122128311,R,"loanDepot.com, LLC","loanDepot.com, LLC",2.125,2.125,619000.0,610000.0,180,122020,...,N,N,0,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX000000,2931.37,NaN,NaN,NaN,Y,N
3,122128311,R,"loanDepot.com, LLC","loanDepot.com, LLC",2.125,2.125,619000.0,607000.0,180,122020,...,N,N,0,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX00000000,2936.56,NaN,NaN,NaN,Y,N
4,122128311,R,"loanDepot.com, LLC","loanDepot.com, LLC",2.125,2.125,619000.0,604000.0,180,122020,...,N,N,0,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX0000000000,2941.76,NaN,NaN,NaN,Y,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,122128355,R,Other,Other,2.625,2.625,660000.0,658000.0,360,122020,...,N,N,0,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX000000,1209.79,NaN,NaN,NaN,Y,N
996,122128355,R,Other,Other,2.625,2.625,660000.0,656000.0,360,122020,...,N,N,0,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX00000000,1212.44,NaN,NaN,NaN,Y,N
997,122128355,R,Other,Other,2.625,2.625,660000.0,655000.0,360,122020,...,N,N,0,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX0000000000,1215.09,NaN,NaN,NaN,Y,N
998,122128355,R,Other,Other,2.625,2.625,660000.0,654000.0,360,122020,...,N,N,0,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX000000000000,1217.75,NaN,NaN,NaN,Y,N
999,122128355,R,Other,Other,2.625,2.625,660000.0,653000.0,360,122020,...,N,N,0,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX00000000000000,1220.41,NaN,NaN,NaN,Y,N

In [22]:
# realchunk['Current Loan Delinquency Status'] == 0

0      True
1      True
2      True
3      True
4      True
       ...
995    True
996    True
997    True
998    True
999    True
Name: Current Loan Delinquency Status, Length: 1000, dtype: bool

In [61]:
# shutil.make_archive(f"local datasets/202{1}/Q{1}/202{1}Q{1}_P{1}x", "zip", f"local datasets/202{1}/Q{1}/202{1}Q{1}_P{1}.csv")

'D:\\COLLEGE\\PROJECTS\\1IMP\\mortgage\\local datasets\\2021\\Q1\\2021Q1_P1x.zip'

# Real Code

In [28]:
for i in range(1, 3):
    for qtr in range(1, 5):
        num = 1
        for ch in pd.read_csv(f"local datasets/CSVs/202{i}Q{qtr}.csv", low_memory = False, sep = "|", header = None, usecols = imp, chunksize = sizeOfChunk):
            dfPart = ch.copy()
            dfPart.columns = header
            dfPart = dfPart[(dfPart['Loan Purpose'] == 'P')
                           & (dfPart['Property Type'] == 'SF')
                           & (dfPart['Amortization Type'] == 'FRM')
                           & (dfPart['Interest Only Loan Indicator'] == 'N') 
                           & (dfPart['Current Loan Delinquency Status'] == 0) 
                           & (dfPart['High Loan to Value (HLTV) Refinance Option Indicator'] == 'N')]
            dfPart = dfPart.drop(['Loan Purpose', 'Property Type', 'Amortization Type', 'Interest Only Loan Indicator', 'Current Loan Delinquency Status', 'High Loan to Value (HLTV) Refinance Option Indicator'], axis = 1)
            dfPart.to_csv(f"datasets/202{i}/Q{qtr}/202{i}Q{qtr}_P{num}.csv", index = False)
            num += 1

In [29]:
pg = pd.read_csv(f"datasets/202{1}/Q{1}/202{1}Q{1}_P{1}.csv")
len(pg.columns)

28

In [30]:
for i in header:
    if i not in pg.columns:
        print(i)

Loan Purpose
Property Type
Amortization Type
Interest Only Loan Indicator
Current Loan Delinquency Status
High Loan to Value (HLTV) Refinance Option Indicator

In [31]:
pg.columns

Index(['Loan Identifier', 'Channel', 'Seller Name', 'Servicer Name',
       'Original Interest Rate', 'Current Interest Rate', 'Original UPB',
       'Current Actual UPB', 'Original Loan Term', 'Origination Date',
       'Loan Age', 'Remaining Months To Maturity', 'Maturity Date',
       'Original Loan to Value Ratio (LTV)', 'Number of Borrowers',
       'Debt-To-Income (DTI)', 'Borrower Credit Score at Origination',
       'Co-Borrower Credit Score at Origination',
       'First Time Home Buyer Indicator', 'Number of Units', 'Property State',
       'Prepayment Penalty Indicator', 'Loan Payment History',
       'Total Principal Current', 'Foreclosure Costs',
       'Associated Taxes for Holding Property',
       'Foreclosure Principal Write-off Amount',
       'High Balance Loan Indicator'],
      dtype='object')

In [32]:
pg

,Loan Identifier,Channel,Seller Name,Servicer Name,Original Interest Rate,Current Interest Rate,Original UPB,Current Actual UPB,Original Loan Term,Origination Date,...,First Time Home Buyer Indicator,Number of Units,Property State,Prepayment Penalty Indicator,Loan Payment History,Total Principal Current,Foreclosure Costs,Associated Taxes for Holding Property,Foreclosure Principal Write-off Amount,High Balance Loan Indicator
0,122128312,R,Other,Other,2.625,2.625,636000.0,636000.00,360,12021,...,Y,1,NJ,N,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX00,NaN,NaN,NaN,NaN,Y
1,122128312,R,Other,Other,2.625,2.625,636000.0,636000.00,360,12021,...,Y,1,NJ,N,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX0000,0.00,NaN,NaN,NaN,Y
2,122128312,R,Other,Other,2.625,2.625,636000.0,635000.00,360,12021,...,Y,1,NJ,N,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX000000,1163.25,NaN,NaN,NaN,Y
3,122128312,R,Other,Other,2.625,2.625,636000.0,634000.00,360,12021,...,Y,1,NJ,N,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX00000000,1165.79,NaN,NaN,NaN,Y
4,122128312,R,Other,Other,2.625,2.625,636000.0,633000.00,360,12021,...,Y,1,NJ,N,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX0000000000,1168.34,NaN,NaN,NaN,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150949,122172979,B,"Rocket Mortgage, LLC","Rocket Mortgage, LLC",2.690,2.690,461000.0,457000.00,360,122020,...,Y,1,CA,N,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX0000000000,839.14,NaN,NaN,NaN,N
150950,122172979,B,"Rocket Mortgage, LLC","Rocket Mortgage, LLC",2.690,2.690,461000.0,456000.00,360,122020,...,Y,1,CA,N,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX000000000000,1690.40,NaN,NaN,NaN,N
150951,122172979,B,"Rocket Mortgage, LLC","Rocket Mortgage, LLC",2.690,2.690,461000.0,456000.00,360,122020,...,Y,1,CA,N,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX00000000000000,0.00,NaN,NaN,NaN,N
150952,122172979,B,"Rocket Mortgage, LLC",Truist Bank (formerly SunTrust Bank),2.690,2.690,461000.0,454869.48,360,122020,...,Y,1,CA,N,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX0000000000000000,844.81,NaN,NaN,NaN,N
150953,122172979,B,"Rocket Mortgage, LLC",NaN,2.690,NaN,461000.0,0.00,360,122020,...,Y,1,CA,N,NaN,454869.48,NaN,NaN,NaN,N