In [1]:
import pandas as pd

# Sample Data

In [2]:
df = pd.read_csv("datasets/sample.csv", sep = "|", low_memory = False, header = None)

In [3]:
df

,0,1,2,3,4,5,6,7,8,9,...,98,99,100,101,102,103,104,105,106,107
0,NaN,100023020488,82009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
1,NaN,100023020488,92009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
2,NaN,100023020488,102009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
3,NaN,100023020488,112009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
4,NaN,100023020488,122009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752,NaN,102458150755,22020,R,Other,Other,NaN,4.375,4.375,148000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
753,NaN,102458150755,32020,R,Other,Other,NaN,4.375,4.375,148000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
754,NaN,102458150755,42020,R,Other,Other,NaN,4.375,4.375,148000.0,...,NaN,NaN,NaN,7.0,N,NaN,NaN,7.0,NaN,NaN
755,NaN,102458150755,52020,R,Other,Other,NaN,4.375,4.375,148000.0,...,NaN,NaN,NaN,7.0,N,NaN,NaN,7.0,NaN,NaN
756,NaN,102458150755,62020,R,Other,Other,NaN,4.375,4.375,148000.0,...,NaN,NaN,NaN,7.0,N,NaN,NaN,7.0,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 757 entries, 0 to 756
Columns: 108 entries, 0 to 107
dtypes: float64(76), int64(13), object(19)
memory usage: 638.8+ KB

## Our drop list

In [5]:
listOfNulls = [2, 51, 52, 31, 32, 33, 29]

## Null columns

In [6]:
for i in range(108):
    if df[i].isna().sum() == 757:
        listOfNulls.append(i)
        
print(len(listOfNulls))
listOfNulls.sort()
print(listOfNulls)

54
[0, 2, 6, 10, 29, 31, 32, 33, 37, 38, 42, 46, 47, 49, 51, 52, 59, 60, 61, 64, 65, 66, 67, 68, 69, 70, 71, 74, 75, 76, 77, 78, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 103, 106, 107]

In [7]:
df_dropped = df.drop(listOfNulls, axis = 1)

In [8]:
df.shape

(757, 108)

In [9]:
df_dropped.shape

(757, 54)

In [10]:
df[3][0], df_dropped[3][0]

('R', 'R')

In [11]:
header = ['Loan Identifier', 'Channel', 'Seller Name', 'Servicer Name', 'Original Interest Rate', 'Current Interest Rate', 'Original UPB', 'Current Actual UPB', 'Original Loan Term', 'Origination Date', 'First Payment Date', 'Loan Age', 'Remaining Months to Legal Maturity', 'Remaining Months to Maturity', 'Maturity Date', 'Original Loan to Value Ratio (LTV)', 'Original Combined Loan to Value Ratio (CLTV)', 'Number of Borrowers', 'Debt-To-Income (DTI)', 'Borrower Credit Score at Origination', 'Co-Borrower Credit Score at Origination', 'First Time Home Buyer Indicator', 'Loan Purpose', 'Property Type', 'Number of Units', 'Property State', 'Amortization Type', 'Prepayment Penalty Indicator', 'Interest Only Loan Indicator', 'Current Loan Delinquency Status', 'Loan Payment History', 'Modification Flag', 'Zero Balance Code', 'Zero Balance Effective Date', 'UPB at the Time of Removal', 'Total Principal Current', 'Last Paid Installment Date', 'Foreclosure Costs', 'Property Preservation and Repair Costs', 'Asset Recovery Costs', 'Miscellaneous Holding Expenses and Credits', 'Associated Taxes for Holding Property', 'Net Sales Proceeds', 'Modification-Related Non-Interest Bearing UPB', 'Principal Forgiveness Amount', 'Mortgage Insurance Type', 'Servicing Activity Indicator', 'Foreclosure Principal Write-off Amount', 'Relocation Mortgage Indicator', 'High Balance Loan Indicator', 'Borrower Assitance Plan', 'High Loan to Value (HLTV) Refinance Option Indicator', 'Repurchase Make Whole Proceeds Flag', 'Alternative Delinquency Resolution']

In [12]:
len(header)

54

In [13]:
for i, j in enumerate(header):
    print(i+1, ')', j)

1 ) Loan Identifier
2 ) Channel
3 ) Seller Name
4 ) Servicer Name
5 ) Original Interest Rate
6 ) Current Interest Rate
7 ) Original UPB
8 ) Current Actual UPB
9 ) Original Loan Term
10 ) Origination Date
11 ) First Payment Date
12 ) Loan Age
13 ) Remaining Months to Legal Maturity
14 ) Remaining Months to Maturity
15 ) Maturity Date
16 ) Original Loan to Value Ratio (LTV)
17 ) Original Combined Loan to Value Ratio (CLTV)
18 ) Number of Borrowers
19 ) Debt-To-Income (DTI)
20 ) Borrower Credit Score at Origination
21 ) Co-Borrower Credit Score at Origination
22 ) First Time Home Buyer Indicator
23 ) Loan Purpose
24 ) Property Type
25 ) Number of Units
26 ) Property State
27 ) Amortization Type
28 ) Prepayment Penalty Indicator
29 ) Interest Only Loan Indicator
30 ) Current Loan Delinquency Status
31 ) Loan Payment History
32 ) Modification Flag
33 ) Zero Balance Code
34 ) Zero Balance Effective Date
35 ) UPB at the Time of Removal
36 ) Total Principal Current
37 ) Last Paid Installment Date
38 ) Foreclosure Costs
39 ) Property Preservation and Repair Costs
40 ) Asset Recovery Costs
41 ) Miscellaneous Holding Expenses and Credits
42 ) Associated Taxes for Holding Property
43 ) Net Sales Proceeds
44 ) Modification-Related Non-Interest Bearing UPB
45 ) Principal Forgiveness Amount
46 ) Mortgage Insurance Type
47 ) Servicing Activity Indicator
48 ) Foreclosure Principal Write-off Amount
49 ) Relocation Mortgage Indicator
50 ) High Balance Loan Indicator
51 ) Borrower Assitance Plan
52 ) High Loan to Value (HLTV) Refinance Option Indicator
53 ) Repurchase Make Whole Proceeds Flag
54 ) Alternative Delinquency Resolution

In [14]:
df_dropped.columns = header

In [15]:
df_dropped

,Loan Identifier,Channel,Seller Name,Servicer Name,Original Interest Rate,Current Interest Rate,Original UPB,Current Actual UPB,Original Loan Term,Origination Date,...,Principal Forgiveness Amount,Mortgage Insurance Type,Servicing Activity Indicator,Foreclosure Principal Write-off Amount,Relocation Mortgage Indicator,High Balance Loan Indicator,Borrower Assitance Plan,High Loan to Value (HLTV) Refinance Option Indicator,Repurchase Make Whole Proceeds Flag,Alternative Delinquency Resolution
0,100023020488,R,Other,Other,5.375,5.375,55000.0,0.00,240,82009,...,NaN,NaN,N,NaN,N,N,NaN,N,NaN,NaN
1,100023020488,R,Other,Other,5.375,5.375,55000.0,0.00,240,82009,...,NaN,NaN,N,NaN,N,N,NaN,N,NaN,NaN
2,100023020488,R,Other,Other,5.375,5.375,55000.0,0.00,240,82009,...,NaN,NaN,N,NaN,N,N,NaN,N,NaN,NaN
3,100023020488,R,Other,Other,5.375,5.375,55000.0,0.00,240,82009,...,NaN,NaN,N,NaN,N,N,NaN,N,NaN,NaN
4,100023020488,R,Other,Other,5.375,5.375,55000.0,0.00,240,82009,...,NaN,NaN,N,NaN,N,N,NaN,N,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752,102458150755,R,Other,Other,4.375,4.375,148000.0,116188.83,360,72009,...,NaN,NaN,N,NaN,N,N,NaN,N,NaN,NaN
753,102458150755,R,Other,Other,4.375,4.375,148000.0,115873.50,360,72009,...,NaN,NaN,N,NaN,N,N,NaN,N,NaN,NaN
754,102458150755,R,Other,Other,4.375,4.375,148000.0,115557.02,360,72009,...,NaN,NaN,N,NaN,N,N,7.0,N,NaN,7.0
755,102458150755,R,Other,Other,4.375,4.375,148000.0,115239.38,360,72009,...,NaN,NaN,N,NaN,N,N,7.0,N,NaN,7.0
756,102458150755,R,Other,Other,4.375,4.375,148000.0,114920.58,360,72009,...,NaN,NaN,N,NaN,N,N,7.0,N,NaN,7.0

In [16]:
# import pandas as pd
# df = pd.read_csv("C:/Users/abhay/Downloads/mortgage/datadata/dataset/sample.csv", sep = "|", low_memory = False, header = None)
# listOfNulls = []
# for i in range(108):
#     if df[i].isna().sum() == 757:
#         listOfNulls.append(i)
# df_dropped = df.drop(listOfNulls, axis = 1)
# header = ['Loan Identifier', 'Monthly Reporting Period', 'Channel', 'Seller Name', 'Servicer Name', 'Original Interest Rate', 'Current Interest Rate', 'Original UPB', 'Current Actual UPB', 'Original Loan Term', 'Origination Date', 'First Payment Date', 'Loan Age', 'Remaining Months to Legal Maturity', 'Remaining Months to Maturity', 'Maturity Date', 'Original Loan to Value Ratio (LTV)', 'Original Combined Loan to Value Ratio (CLTV)', 'Number of Borrowers', 'Debt-To-Income (DTI)', 'Borrower Credit Score at Origination', 'Co-Borrower Credit Score at Origination', 'First Time Home Buyer Indicator', 'Loan Purpose', 'Property Type', 'Number of Units', 'Occupancy Status', 'Property State', 'MSA', 'Zip Code Short', 'Mortgage Insurance Percentage', 'Amortization Type', 'Prepayment Penalty Indicator', 'Interest Only Loan Indicator', 'Current Loan Delinquency Status', 'Loan Payment History', 'Modification Flag', 'Zero Balance Code', 'Zero Balance Effective Date', 'UPB at the Time of Removal', 'Total Principal Current', 'Last Paid Installment Date', 'Foreclosure Date', 'Disposition Date', 'Foreclosure Costs', 'Property Preservation and Repair Costs', 'Asset Recovery Costs', 'Miscellaneous Holding Expenses and Credits', 'Associated Taxes for Holding Property', 'Net Sales Proceeds', 'Modification-Related Non-Interest Bearing UPB', 'Principal Forgiveness Amount', 'Mortgage Insurance Type', 'Servicing Activity Indicator', 'Foreclosure Principal Write-off Amount', 'Relocation Mortgage Indicator', 'High Balance Loan Indicator', 'Borrower Assitance Plan', 'High Loan to Value (HLTV) Refinance Option Indicator', 'Repurchase Make Whole Proceeds Flag', 'Alternative Delinquency Resolution']
# df_dropped.columns = header

In [17]:
imp = []
for i in range(108):
    if i not in listOfNulls:
        imp.append(i)
print(len(imp))
print(imp)

54
[1, 3, 4, 5, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 34, 35, 36, 39, 40, 41, 43, 44, 45, 48, 50, 53, 54, 55, 56, 57, 58, 62, 63, 72, 73, 79, 80, 86, 101, 102, 104, 105]

# 2021

In [18]:
sizeOfChunk = 1000000

# Q1

In [19]:
# num = 1
# for ch in pd.read_csv("datasets/2021/2021Q1.csv", low_memory = False, sep = "|", header = None, usecols = imp, chunksize = sizeOfChunk):
#     dfPart = ch.copy()
#     dfPart.columns = header
#     dfPart.to_csv(f"datasets/2021/Q1/2021Q1_P{num}.csv", index = False)
#     num += 1

# Q2

In [ ]:
# num = 1
# for ch in pd.read_csv("datasets/2021/2021Q2.csv", low_memory = False, sep = "|", header = None, usecols = imp, chunksize = sizeOfChunk):
#     dfPart = ch.copy()
#     dfPart.columns = header
#     dfPart.to_csv(f"datasets/2021/Q2/2021Q2_P{num}.csv", index = False)
#     num += 1

# Q3

In [23]:
# num = 1
# for ch in pd.read_csv("datasets/2021/2021Q3.csv", low_memory = False, sep = "|", header = None, usecols = imp, chunksize = sizeOfChunk):
#     dfPart = ch.copy()
#     dfPart.columns = header
#     dfPart.to_csv(f"datasets/2021/Q3/2021Q3_P{num}.csv", index = False)
#     num += 1

# Q4

In [26]:
# num = 1
# for ch in pd.read_csv("datasets/2021/2021Q4.csv", low_memory = False, sep = "|", header = None, usecols = imp, chunksize = sizeOfChunk):
#     dfPart = ch.copy()
#     dfPart.columns = header
#     dfPart.to_csv(f"datasets/2021/Q4/2021Q4_P{num}.csv", index = False)
#     num += 1

In [24]:
# aaaaa = pd.read_csv("datasets/2021/Q2/2021Q2_P1.csv")

C:\Users\abhay\AppData\Local\Temp\ipykernel_29868\2108464548.py:1: DtypeWarning: Columns (53) have mixed types. Specify dtype option on import or set low_memory=False.
  aaaaa = pd.read_csv("datasets/2021/Q2/2021Q2_P1.csv")

In [25]:
# aaaaa

,Loan Identifier,Channel,Seller Name,Servicer Name,Original Interest Rate,Current Interest Rate,Original UPB,Current Actual UPB,Original Loan Term,Origination Date,...,Principal Forgiveness Amount,Mortgage Insurance Type,Servicing Activity Indicator,Foreclosure Principal Write-off Amount,Relocation Mortgage Indicator,High Balance Loan Indicator,Borrower Assitance Plan,High Loan to Value (HLTV) Refinance Option Indicator,Repurchase Make Whole Proceeds Flag,Alternative Delinquency Resolution
0,123687500,R,Other,Other,2.375,2.375,135000.0,133000.00,180,112020,...,NaN,NaN,N,NaN,N,N,N,N,NaN,7
1,123687500,R,Other,Other,2.375,2.375,135000.0,131000.00,180,112020,...,NaN,NaN,N,NaN,N,N,7,N,NaN,7
2,123687500,R,Other,Other,2.375,2.375,135000.0,131000.00,180,112020,...,NaN,NaN,N,NaN,N,N,7,N,NaN,7
3,123687500,R,Other,Other,2.375,2.375,135000.0,127401.56,180,112020,...,NaN,NaN,N,NaN,N,N,7,N,NaN,7
4,123687500,R,Other,Other,2.375,2.375,135000.0,123861.47,180,112020,...,NaN,NaN,N,NaN,N,N,7,N,NaN,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,123737378,R,Other,Other,3.250,3.250,372000.0,362798.83,360,32021,...,NaN,NaN,N,NaN,N,N,7,N,NaN,7
999996,123737378,R,Other,MSR Asset Vehicle LLC,3.250,3.250,372000.0,362164.62,360,32021,...,NaN,NaN,Y,NaN,N,N,7,N,NaN,7
999997,123737378,R,Other,MSR Asset Vehicle LLC,3.250,3.250,372000.0,361528.69,360,32021,...,NaN,NaN,N,NaN,N,N,7,N,NaN,7
999998,123737378,R,Other,MSR Asset Vehicle LLC,3.250,3.250,372000.0,360891.04,360,32021,...,NaN,NaN,N,NaN,N,N,7,N,NaN,7
999999,123737378,R,Other,MSR Asset Vehicle LLC,3.250,3.250,372000.0,360251.66,360,32021,...,NaN,NaN,N,NaN,N,N,7,N,NaN,7

# 2022

In [20]:
# for i in range(2, 3):
#     for qtr in range(1, 5):
#         num = 1
#         for ch in pd.read_csv(f"datasets/202{i}/202{i}Q{qtr}.csv", low_memory = False, sep = "|", header = None, usecols = imp, chunksize = sizeOfChunk):
#             dfPart = ch.copy()
#             dfPart.columns = header
#             dfPart.to_csv(f"datasets/202{i}/Q{qtr}/202{i}Q{qtr}_P{num}.csv", index = False)
#             num += 1

# Actual code to convert all

In [21]:
# for i in range(1, 3):
#     for qtr in range(1, 5):
#         num = 1
#         for ch in pd.read_csv(f"datasets/202{i}/202{i}Q{qtr}.csv", low_memory = False, sep = "|", header = None, usecols = imp, chunksize = sizeOfChunk):
#             dfPart = ch.copy()
#             dfPart.columns = header
#             dfPart.to_csv(f"datasets/202{i}/Q{qtr}/202{i}Q{qtr}_P{num}.csv", index = False)
#             num += 1