In [1]:
import pandas as pd

In [13]:
df = pd.read_csv("C:/Users/abhay/Downloads/mortgage/datadata/dataset/sample.csv", sep = "|", low_memory = False, header = None)

In [14]:
df

,0,1,2,3,4,5,6,7,8,9,...,98,99,100,101,102,103,104,105,106,107
0,NaN,100023020488,82009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
1,NaN,100023020488,92009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
2,NaN,100023020488,102009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
3,NaN,100023020488,112009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
4,NaN,100023020488,122009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752,NaN,102458150755,22020,R,Other,Other,NaN,4.375,4.375,148000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
753,NaN,102458150755,32020,R,Other,Other,NaN,4.375,4.375,148000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
754,NaN,102458150755,42020,R,Other,Other,NaN,4.375,4.375,148000.0,...,NaN,NaN,NaN,7.0,N,NaN,NaN,7.0,NaN,NaN
755,NaN,102458150755,52020,R,Other,Other,NaN,4.375,4.375,148000.0,...,NaN,NaN,NaN,7.0,N,NaN,NaN,7.0,NaN,NaN
756,NaN,102458150755,62020,R,Other,Other,NaN,4.375,4.375,148000.0,...,NaN,NaN,NaN,7.0,N,NaN,NaN,7.0,NaN,NaN

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 757 entries, 0 to 756
Columns: 108 entries, 0 to 107
dtypes: float64(76), int64(13), object(19)
memory usage: 638.8+ KB

In [19]:
listOfNulls = []
for i in range(108):
    if df[i].isna().sum() == 757:
        listOfNulls.append(i)
        
print(len(listOfNulls))
print(listOfNulls)

47
[0, 6, 10, 37, 38, 42, 46, 47, 49, 59, 60, 61, 64, 65, 66, 67, 68, 69, 70, 71, 74, 75, 76, 77, 78, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 103, 106, 107]

In [21]:
df_dropped = df.drop([0, 6, 10, 37, 38, 42, 46, 47, 49, 59, 60, 61, 64, 65, 66, 67, 68, 69, 70, 71, 74, 75, 76, 77, 78, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 103, 106, 107], axis = 1)

In [22]:
df.shape

(757, 108)

In [23]:
df_dropped.shape

(757, 61)

In [24]:
df[3][0], df_dropped[3][0]

('R', 'R')

In [33]:
header = ['Loan Identifier', 'Monthly Reporting Period', 'Channel', 'Seller Name', 'Servicer Name', 'Original Interest Rate', 'Current Interest Rate', 'Original UPB', 'Current Actual UPB', 'Original Loan Term', 'Origination Date', 'First Payment Date', 'Loan Age', 'Remaining Months to Legal Maturity', 'Remaining Months to Maturity', 'Maturity Date', 'Original Loan to Value Ratio (LTV)', 'Original Combined Loan to Value Ratio (CLTV)', 'Number of Borrowers', 'Debt-To-Income (DTI)', 'Borrower Credit Score at Origination', 'Co-Borrower Credit Score at Origination', 'First Time Home Buyer Indicator', 'Loan Purpose', 'Property Type', 'Number of Units', 'Occupancy Status', 'Property State', 'MSA', 'Zip Code Short', 'Mortgage Insurance Percentage', 'Amortization Type', 'Prepayment Penalty Indicator', 'Interest Only Loan Indicator', 'Current Loan Delinquency Status', 'Loan Payment History', 'Modification Flag', 'Zero Balance Code', 'Zero Balance Effective Date', 'UPB at the Time of Removal', 'Total Principal Current', 'Last Paid Installment Date', 'Foreclosure Date', 'Disposition Date', 'Foreclosure Costs', 'Property Preservation and Repair Costs', 'Asset Recovery Costs', 'Miscellaneous Holding Expenses and Credits', 'Associated Taxes for Holding Property', 'Net Sales Proceeds', 'Modification-Related Non-Interest Bearing UPB', 'Principal Forgiveness Amount', 'Mortgage Insurance Type', 'Servicing Activity Indicator', 'Foreclosure Principal Write-off Amount', 'Relocation Mortgage Indicator', 'High Balance Loan Indicator', 'Borrower Assitance Plan', 'High Loan to Value (HLTV) Refinance Option Indicator', 'Repurchase Make Whole Proceeds Flag', 'Alternative Delinquency Resolution']

In [34]:
len(header)

61

In [35]:
for i, j in enumerate(header):
    print(i+1, ')', j)

1 ) Loan Identifier
2 ) Monthly Reporting Period
3 ) Channel
4 ) Seller Name
5 ) Servicer Name
6 ) Original Interest Rate
7 ) Current Interest Rate
8 ) Original UPB
9 ) Current Actual UPB
10 ) Original Loan Term
11 ) Origination Date
12 ) First Payment Date
13 ) Loan Age
14 ) Remaining Months to Legal Maturity
15 ) Remaining Months to Maturity
16 ) Maturity Date
17 ) Original Loan to Value Ratio (LTV)
18 ) Original Combined Loan to Value Ratio (CLTV)
19 ) Number of Borrowers
20 ) Debt-To-Income (DTI)
21 ) Borrower Credit Score at Origination
22 ) Co-Borrower Credit Score at Origination
23 ) First Time Home Buyer Indicator
24 ) Loan Purpose
25 ) Property Type
26 ) Number of Units
27 ) Occupancy Status
28 ) Property State
29 ) MSA
30 ) Zip Code Short
31 ) Mortgage Insurance Percentage
32 ) Amortization Type
33 ) Prepayment Penalty Indicator
34 ) Interest Only Loan Indicator
35 ) Current Loan Delinquency Status
36 ) Loan Payment History
37 ) Modification Flag
38 ) Zero Balance Code
39 ) Zero Balance Effective Date
40 ) UPB at the Time of Removal
41 ) Total Principal Current
42 ) Last Paid Installment Date
43 ) Foreclosure Date
44 ) Disposition Date
45 ) Foreclosure Costs
46 ) Property Preservation and Repair Costs
47 ) Asset Recovery Costs
48 ) Miscellaneous Holding Expenses and Credits
49 ) Associated Taxes for Holding Property
50 ) Net Sales Proceeds
51 ) Modification-Related Non-Interest Bearing UPB
52 ) Principal Forgiveness Amount
53 ) Mortgage Insurance Type
54 ) Servicing Activity Indicator
55 ) Foreclosure Principal Write-off Amount
56 ) Relocation Mortgage Indicator
57 ) High Balance Loan Indicator
58 ) Borrower Assitance Plan
59 ) High Loan to Value (HLTV) Refinance Option Indicator
60 ) Repurchase Make Whole Proceeds Flag
61 ) Alternative Delinquency Resolution

In [37]:
df_dropped.columns = header

In [45]:
df_dropped

,Loan Identifier,Monthly Reporting Period,Channel,Seller Name,Servicer Name,Original Interest Rate,Current Interest Rate,Original UPB,Current Actual UPB,Original Loan Term,...,Principal Forgiveness Amount,Mortgage Insurance Type,Servicing Activity Indicator,Foreclosure Principal Write-off Amount,Relocation Mortgage Indicator,High Balance Loan Indicator,Borrower Assitance Plan,High Loan to Value (HLTV) Refinance Option Indicator,Repurchase Make Whole Proceeds Flag,Alternative Delinquency Resolution
0,100023020488,82009,R,Other,Other,5.375,5.375,55000.0,0.00,240,...,NaN,NaN,N,NaN,N,N,NaN,N,NaN,NaN
1,100023020488,92009,R,Other,Other,5.375,5.375,55000.0,0.00,240,...,NaN,NaN,N,NaN,N,N,NaN,N,NaN,NaN
2,100023020488,102009,R,Other,Other,5.375,5.375,55000.0,0.00,240,...,NaN,NaN,N,NaN,N,N,NaN,N,NaN,NaN
3,100023020488,112009,R,Other,Other,5.375,5.375,55000.0,0.00,240,...,NaN,NaN,N,NaN,N,N,NaN,N,NaN,NaN
4,100023020488,122009,R,Other,Other,5.375,5.375,55000.0,0.00,240,...,NaN,NaN,N,NaN,N,N,NaN,N,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752,102458150755,22020,R,Other,Other,4.375,4.375,148000.0,116188.83,360,...,NaN,NaN,N,NaN,N,N,NaN,N,NaN,NaN
753,102458150755,32020,R,Other,Other,4.375,4.375,148000.0,115873.50,360,...,NaN,NaN,N,NaN,N,N,NaN,N,NaN,NaN
754,102458150755,42020,R,Other,Other,4.375,4.375,148000.0,115557.02,360,...,NaN,NaN,N,NaN,N,N,7.0,N,NaN,7.0
755,102458150755,52020,R,Other,Other,4.375,4.375,148000.0,115239.38,360,...,NaN,NaN,N,NaN,N,N,7.0,N,NaN,7.0
756,102458150755,62020,R,Other,Other,4.375,4.375,148000.0,114920.58,360,...,NaN,NaN,N,NaN,N,N,7.0,N,NaN,7.0

In [ ]:
import pandas as pd
df = pd.read_csv("C:/Users/abhay/Downloads/mortgage/datadata/dataset/sample.csv", sep = "|", low_memory = False, header = None)
listOfNulls = []
for i in range(108):
    if df[i].isna().sum() == 757:
        listOfNulls.append(i)
df_dropped = df.drop(listOfNulls, axis = 1)
header = ['Loan Identifier', 'Monthly Reporting Period', 'Channel', 'Seller Name', 'Servicer Name', 'Original Interest Rate', 'Current Interest Rate', 'Original UPB', 'Current Actual UPB', 'Original Loan Term', 'Origination Date', 'First Payment Date', 'Loan Age', 'Remaining Months to Legal Maturity', 'Remaining Months to Maturity', 'Maturity Date', 'Original Loan to Value Ratio (LTV)', 'Original Combined Loan to Value Ratio (CLTV)', 'Number of Borrowers', 'Debt-To-Income (DTI)', 'Borrower Credit Score at Origination', 'Co-Borrower Credit Score at Origination', 'First Time Home Buyer Indicator', 'Loan Purpose', 'Property Type', 'Number of Units', 'Occupancy Status', 'Property State', 'MSA', 'Zip Code Short', 'Mortgage Insurance Percentage', 'Amortization Type', 'Prepayment Penalty Indicator', 'Interest Only Loan Indicator', 'Current Loan Delinquency Status', 'Loan Payment History', 'Modification Flag', 'Zero Balance Code', 'Zero Balance Effective Date', 'UPB at the Time of Removal', 'Total Principal Current', 'Last Paid Installment Date', 'Foreclosure Date', 'Disposition Date', 'Foreclosure Costs', 'Property Preservation and Repair Costs', 'Asset Recovery Costs', 'Miscellaneous Holding Expenses and Credits', 'Associated Taxes for Holding Property', 'Net Sales Proceeds', 'Modification-Related Non-Interest Bearing UPB', 'Principal Forgiveness Amount', 'Mortgage Insurance Type', 'Servicing Activity Indicator', 'Foreclosure Principal Write-off Amount', 'Relocation Mortgage Indicator', 'High Balance Loan Indicator', 'Borrower Assitance Plan', 'High Loan to Value (HLTV) Refinance Option Indicator', 'Repurchase Make Whole Proceeds Flag', 'Alternative Delinquency Resolution']